.header{
	position: absolute;
	background-color: darkgray;
height: 50vh;
width: 50vh;
border-radius: 30vh;
margin: 0 auto;
}

.mouth{
	position: relative;
	left: 12.5vh;
	bottom: 1vh;
	background-color: darkgray;
	width: 25vh;
	border: 0.1vh solid darkgray;
	height: 20vh;
	border-bottom: 3vh solid white;
	border-radius: 30vh;
	margin-top: 1vh;
	box-sizing: border-box;
	opacity: 0.8;
}
.i{
	position: relative;
	margin-left:  10vh;
	margin-top: 10vh;
	
	background-color: white;
	width: 10vh;
	height: 10vh;
	border-radius: 5vh;
	display: inline-block;
}


.m{
	position: relative;
	border-radius: 3vh;
	width: 4vh;
	height: 4vh; 
	font-size: 20px;
	background-color:black;
	margin-left: 3vh;
	margin-top: 3vh;
}

.nos{
	position: relative;
	width: 7vh;
	height: 7vh;
	border-radius: 3vh;
	background-color: red;
	top: 2vh;
	left: 8.5vh;
	border: 0.1vh solid orangered;
}